/*
Color Scheme:
Background Lavender: ECE9EC; filter: invert(100%) sepia(4%) saturate(1508%) hue-rotate(225deg) brightness(93%) contrast(98%);
Light Pink: D7777A; filter: invert(59%) sepia(21%) saturate(1127%) hue-rotate(308deg) brightness(92%) contrast(82%);
Bright Red: B20219; filter: invert(9%) sepia(83%) saturate(6572%) hue-rotate(348deg) brightness(90%) contrast(103%);
Light Green: C9DA80; filter: invert(97%) sepia(6%) saturate(2782%) hue-rotate(14deg) brightness(92%) contrast(86%);
Dark Green: 3A4210; filter: invert(21%) sepia(13%) saturate(2740%) hue-rotate(29deg) brightness(94%) contrast(87%);
*/

@import "bootstrap";


html {
  margin: 0;
  padding: 0;
}

.desktop-navbar {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 99;
  list-style-type: none;
  margin: auto;
  width: auto;
  overflow: hidden;
}

.desktop-navbar-item {
  float: left;
}

.desktop-navbar-item a {
  font-family: 'Amiko', sans-serif;
  font-weight: 700;
  font-size: 30px;
  display: block;
  color: #3C403D;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.desktop-navbar-item a:hover {
  color: #D02126;
}

ul {
  list-style-type: none;
}

.mobile-navbar-nav {
  position: fixed;
  padding: 0;
  background-color: #ECE9E4;
  width: 100vw;
  max-width: 100%;
  z-index: 99;
}

.mobile-navbar-item a {
  position: relative;
  font-family: 'Amiko', sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 100vw;
  max-width: 100%;
  display: block;
  color: #3C403D;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  z-index: 99;
}

.mobile-navbar-item a:hover {
  color: #D02126;
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-navbar-icon {
  position: fixed;
  top: 7%;
  right: 5%;
  height: 70px;
  filter: invert(23%) sepia(7%) saturate(317%) hue-rotate(83deg) brightness(93%) contrast(89%);
  z-index: 100;
  background-color: white;
  padding: 0.5em;
  border-radius: 5em;
}

.home-main {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  background-color: #ECE9EC;
  background-image: url('images/paper-background.png');
  overflow: hidden;
  z-index: 1;
}

.qna-main {
  width: 100vw;
  height: 140vh;
  max-width: 100%;
  position: relative;
  background-color: #ECE9EC;
  background-image: url('images/paper-background.png');
  overflow: hidden;
  z-index: 1;
}

.price-main {
  width: 100vw;
  height: 160vh;
  max-width: 100%;
  position: relative;
  background-color: #ECE9EC;
  background-image: url('images/paper-background.png');
  overflow: hidden;
  z-index: 1;
}

.home-left-leaves {
  position: absolute;
  height: 100vh;
  left: 0%;
  bottom: 0%;
  z-index: 2;
}

.home-right-leaves {
  position: absolute;
  height: 80vh;
  right: 0%;
  bottom: 0%;
  z-index: 2;
}

.home-left-floral {
  position: absolute;
  height: 100vh;
  left: 0%;
  bottom: 0%;
  z-index: 3;
}

.qna-left-floral {
  position: absolute;
  height: 140vh;
  left: 0%;
  bottom: 0%;
  z-index: 3;
}

.price-left-floral {
  position: absolute;
  height: 160vh;
  left: 0%;
  bottom: 0%;
  z-index: 3;
}

.home-right-floral {
  position: absolute;
  height: 100vh;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

.qna-right-floral {
  position: absolute;
  height: 140vh;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

.price-right-floral {
  position: absolute;
  height: 160vh;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

.home-logo {
  position: absolute;
  height: 40vh;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

@media (min-width: 768px) { /* Tablet View*/
  .home-logo {
    height: 60vh;
  }
}

@media (min-width: 1200px) { /* Desktop View*/
  .home-logo {
    height: 80vh;
  }
}

.whitespace {
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

.info-box {
  position: relative;
  top: -10vh;
  margin: 3vh 18vw -2vh 18vw;
  padding: 1vh 3vw 1vh 3vw;
  max-width: 100%;
  vertical-align: middle;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}

.info-box-icon {
  position: relative;
  width: 50px;
  margin: 2vw;
  filter: invert(9%) sepia(83%) saturate(6572%) hue-rotate(348deg) brightness(90%) contrast(103%);
}

.info-box-info {
  margin: 2vw 0vw;
  color: gray;
}

.benefits-box {
  margin: 0vh 20vw 10vh 20vw;
}

.test-1 {
  overflow: hidden;
}

.benefits-box-img {
  border-radius: 10px;
  overflow: hidden;
}

.benefits-box-img img{
  border-radius: 10px;
  height: 420px;
  min-width: 100%;
  max-width: 100%;
  transition: transform .2s;
  object-fit: cover;
}

.benefits-box-img img:hover {
  transform: scale(1.1);
}

.location-box {
  margin: 0;
  padding: 7vh 8vw;
  max-width: 100vw;
  background-image: url(images/outside-view.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

.location-box-spacer {
  height: 7vh;
}

.location-box img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.location-box-info {
  padding: 5vh;
  background-color: rgba(255,255,255,0.9);
  display: block;
}

p.location-text {
  padding: ;
}

.prices-header-box {
  position: absolute;
  width: 80vw;
  left: 10vw;
  max-width: 100%;
  text-align: center;
  top: 120px;
  z-index: 5;
}

p.prices-header {
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  display: inline;
  text-shadow:  5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1);
}

.price-box {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 400px;
  width: 90vw;
  left: 5vw;
  max-width: 100%;
  background-color: rgba(255,255,255,0.6);
  z-index: 5;
}

@media (min-width: 768px) { /* Tablet View*/
  .prices-header-box {
    width: 60vw;
    left: 20vw;
  }

  .price-box {
    top: 420px;
    width: 80vw;
    left: 10vw;
  }

  p.prices-header {
    font-size: 100px;
  }
}

@media (min-width: 992px) { /* Break*/
  .price-main {
    height: 100vh;
  }
}

@media (min-width: 1200px) { /* Desktop View*/
  .prices-header-box {
    width: 80vw;
    left: 10vw;
  }

  .price-box {
    top: 300px;
    width: 70vw;
    left: 15vw;
  }

  p.prices-header {
    font-size: 120px;
  }
}

.price-box-card {
  justify-content: center;
}

.price-box-info {
  right: 0;
  display: block;
}

p.price-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

p.price-box-price {
  text-align: center;
}

p.hprice {
  font-family: 'Amiko', sans-serif; 
  font-size: 80px;
  color: #D7777A;
}

.qna-logo-box {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  top: 120px;
  z-index: 5;
}

p.qna-logo-1 {
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  display: inline;
  text-shadow:  5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1);
}

p.qna-logo-2 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  display: inline;
  text-shadow:  5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1),
                5px 4px 25px rgba(236, 222, 236, 1);
}

.qna-accordion {
  position: absolute;
  top: 300px;
  z-index: 5;
}

.qna-card {
  margin: 8px;
  width: 85vw;
}

@media (min-width: 768px) { /* Tablet View*/
  .qna-card {
    width: 75vw;
  }
}

@media (min-width: 1200px) { /* Desktop View*/
  .qna-card {
    width: 65vw;
  }
}

.about-header-box {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  top: 120px;
  z-index: 5;
}

p.about-header {
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  display: inline;
  text-shadow:  5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1), 
                5px 4px 25px rgba(236, 222, 236, 1);
}

.about-info-box {
  padding: 3vh 2vw;
  position: absolute;
  top: 300px;
  left: 5vw;
  width: 90vw;
  max-width: 100%;
  background-color: rgba(255,255,255,0.6);
  z-index: 5;
}

@media (min-width: 768px) { /* Tablet View*/
  .about-info-box {
    left: 10vw;
    width: 80vw;
  }
}

@media (min-width: 1200px) { /* Desktop View*/
  .about-info-box {
    left: 20vw;
    width: 60vw;
  }
}

.footer {
  margin: 5vh 0vw 0vh 0vh;
  background-color: #ECE9EC;
}

.footer-info-1 {
  margin: 0vh 0vw 10vh 0vw;
  color: gray;
}

.footer-icon {
  width: 35px;
  margin: 1vh 0vw 0vh 0vw;
  filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(95%) contrast(96%);
}

.footer-icon:hover {
  filter: invert(9%) sepia(83%) saturate(6572%) hue-rotate(348deg) brightness(90%) contrast(103%);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Amiko', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #D7777A;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: 'Amiko', sans-serif; 
  color: white;
  font-size: 16px;
}

h5 {
  color: black;
}

p {
  color: black;
}

p.indent {
  text-indent: 30px;
}